.container{
    margin-bottom: 100px;
}
.orang-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #FF136F 100%);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    color: #ffff;
}
.table-1, .table-2, .table-3{
    padding: 10px 30px;
    border-radius: 10px;
}
.table-1{
    background-color: orange;
}
.table-2{
    background-color: orangered;
}
.table-3{
    background-color: orchid;
}
.categories{
    color: white;
}
.categories img{
    width: 100px;
}